:root {
  --content-font: 'Abyssinica SIL', sans-serif;
  --border-radius: 4px;
}

body {
  font-family: var(--content-font);
  background-image: var(--gradient-15);
  background-size: cover;
}

.parent {
  display: grid;
  grid-template-columns: 1fr min(80ch, calc(100% - 16px)) 1fr;
  grid-column-gap: 8px;
  place-items: center;
}

.parent > * {
  grid-column: 2;
}

h1 {
  color: var(--gray-9);
  font-family: var(--font-mono);
  text-align: center;
  margin-top: 50px;
}

h2 {
  color: var(--gray-7);
  margin-top: 10px;
}

ul {
  width: 100%;
  margin-top: 30px;
  padding: var(--size-3);
  background: rgba(255, 255, 255, 0.5);
  border-radius: var(--border-radius);
}

li {
  max-inline-size: max-content;
  color: var(--gray-9);
}

li > h3 {
  color: var(--gray-7);
}

a {
  margin-top: 30px;
}
